<div class="details">

    <iframe 
      [src]="safeUrl" 
      frameborder="0" 
      webkitallowfullscreen
      mozallowfullscreen 
      allowfullscreen
      >
    </iframe>

    <div class="details_content">
      <div class="details_content_title">{{ data.title }}</div>
      <div class="details_content_date">{{ data.release_date }}</div>
      <div>{{ formatGenres(data.genre) }}</div>
      <div class="details_content_duration">{{ data.duration }}</div>
      <div class="details_content_desc">{{ data.description }}</div>
    </div>
</div>
