.details {
    color: #FFFFFF;

    &_title {
        color: #ff428d;
        font-size: 32px;
        padding-top: 20px;
        padding-bottom: 2px;
    }

    &_date {
        padding: 2px 0;
    }
}

.details iframe {
    width: 100%;
    height: 900px;
}